<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context    http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置注解式驱动-->
    <context:annotation-config></context:annotation-config>

    <!--配置注解式扫描-->
    <context:component-scan base-package="com.zking.ssm_project"></context:component-scan>

    <!--使用spring-jdbc配置数据库连接池-->
    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--加载驱动-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <!--连接地址-->
        <property name="url" value="jdbc:mysql://192.168.43.179:3306/ssm_project?characterEncoding=utf-8"></property>
        <!--用户名-->
        <property name="username" value="root"></property>
        <!--密码-->
        <property name="password" value="sasa"></property>
    </bean>

    <!--创建sqlsessionfactory的对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定数据源-->
        <property name="dataSource" ref="driverManagerDataSource"></property>
        <!--配置mybatis核心配置文件-->
        <property name="configLocation" value="classpath:configuration.xml"></property>
        <!--自动加载mapper文件-->
        <property name="mapperLocations" value="classpath*:com/zking/ssm_project/*/mapper/*.xml"></property>
        <!--加载实体类-->
        <property name="typeAliasesPackage" value="com.zking.ssm_project.*.pojo"></property>
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com/zking/ssm_project/*/mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="driverManagerDataSource"></property>
    </bean>

    <!--开启事务注释-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


    <!--配置redis的缓冲池-->
    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        &lt;!&ndash;ip连接地址&ndash;&gt;
        <constructor-arg name="host" value="192.168.42.150"></constructor-arg>
        &lt;!&ndash;端口号&ndash;&gt;
        <constructor-arg name="port" value="6379"></constructor-arg>
    </bean>-->


    <!--创建redis缓存类对象-->
    <!--<bean id="redisCache" class="com.zking.ssm_project.*.redis.RedisCache">
        <property name="jedisPool" ref="jedisPool"></property>
    </bean>-->
</beans>