<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应数据库用户表ly_users的mapper包的MyBatis配置文件-->
<mapper namespace="com.zking.ssm_project.ly.mapper.ILy_MenusMapper">

    <!--返回所有菜单的集合-->
    <resultMap id="getLy_MenusAll" type="com.zking.ssm_project.ly.pojo.Ly_Menus">
        <!--父级菜单-->
        <id property="mId" column="mId"></id>
        <result property="mName" column="mName"></result>
        <result property="pId" column="pId"></result>
        <result property="byNumber" column="byNumber"></result>
        <result property="iconCls" column="iconCls"></result>
        <result property="murl" column="murl"></result>
        <!--子级菜单-->
        <collection property="children" ofType="com.zking.ssm_project.ly.pojo.Ly_Menus" column="mId"
                    select="com.zking.ssm_project.ly.mapper.ILy_MenusMapper.findLy_MenusChildrenAll">
        </collection>
    </resultMap>

    <!--查询所有父级菜单的sql语句-->
    <select id="findLy_MenusParentAll" resultMap="getLy_MenusAll">
        SELECT * FROM Ly_Menus WHERE pId IS  NULL  ORDER BY byNumber
    </select>

    <!--查询所有子级菜单的sql语句-->
    <select id="findLy_MenusChildrenAll" resultType="com.zking.ssm_project.ly.pojo.Ly_Menus"
            parameterType="java.lang.String">
               SELECT * FROM Ly_Menus WHERE pId=#{pId}
    </select>

</mapper>