<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应数据库用户表t_user的mapper包的MyBatis配置文件-->
<mapper namespace="com.zking.ssm_project.ly.mapper.IT_userMapper">

    <select id="t_userLogin" parameterType="com.zking.ssm_project.ly.pojo.T_user" resultType="com.zking.ssm_project.ly.pojo.T_user">
        SELECT * FROM T_user WHERE uname=#{uname} and upassword=#{upassword}
    </select>

</mapper>